<main class="space-y-3">
    <div class="flex justify-center">
        <img class="object-cover w-16" src="assets/img/check-anim.gif" alt="">
    </div>
    <div class="flex justify-center text-center text-lg text-gray-500">Tus Datos fueron enviados correctamente</div>
</main>