

 <div class="overflow-x-hidden w-full overflow-y-scroll  fixed inset-0  outline-none focus:outline-none justify-center items-center flex animated fadeIn" style="width: 100%;">
    <div class="inline-block align-bottom bg-white rounded-lg text-left mx-2 overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-5xl sm:w-full" role="dialog" aria-modal="true"
        aria-labelledby="modal-headline">
        <div class="flex p-3 items-center  space-y-2 md:justify-between border-b border-gray-300 pb-4 ">
            <div class="w-full flex justify-between items-center content-center px-6 pt-4 ">
                <div class="font-medium text-sm flex whitespace-nowrap "><span class="text-red-500 flex  "> PROCESO DE MIGRACIÓN: </span> </div>
                
                <div class="flex justify-end">
                    <div class="w-full space-x-3 flex items-center">
                        
                        <div class="w-full">
                            <div class="flex w-full px-2 border border-gray-300 rounded">
                                <input type="date"  class=" w-full  px-2  py-2  text-sm  placeholder-gray-500  focus:outline-none">
                            </div>
                        </div>
                        <div  class="w-full">
                            <button  type="button" class="rounded bg-red-500 text-sm uppercase py-2 focus:outline-none font-medium pt-3 px-5 flex items-center  justify-center w-auto text-white">
                                MIGRAR
                            </button>
                        </div>
                        <div>
                            <button class=" "><img class="object-contain w-24" src="assets/img/migra/lis.svg" alt=""></button>
                        </div>

                    </div>
                </div>
            </div>

            <div>
                <button mat-dialog-close class="text-black font-medium rounded-full  focus:outline-none border p-2 border-gray-200">
                    <svg width="12" height="12" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.22721 7L13.5387 2.68848C14.1538 2.07345 14.1538 1.0763 13.5387 0.461274C12.9237 -0.153758 11.9266 -0.153758 11.3115 0.461274L7 4.77279L2.68848 0.461274C2.07345 -0.153758 1.0763 -0.153758 0.461274 0.461274C-0.153758 1.0763 -0.153758 2.07345 0.461274 2.68848L4.77279 7L0.461274 11.3115C-0.153758 11.9266 -0.153758 12.9237 0.461274 13.5387C0.768789 13.8462 1.17183 14 1.57486 14C1.9779 14 2.38096 13.8462 2.68845 13.5387L7 9.22721L11.3115 13.5387C11.619 13.8462 12.0221 14 12.4251 14C12.8281 14 13.2312 13.8462 13.5387 13.5387C14.1537 12.9237 14.1537 11.9266 13.5387 11.3115L9.22721 7Z" fill="#434343"/>
                    </svg>
                </button>
            </div>
        </div>

       
        <main class=" py-7 px-11 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3  gap-3 overflow-y-auto   ">

            <section class="w-full border text-center  border-gray-300 rounded-md relative">
                <div class="text-sm font-medium w-full rounded-t-md col-span-2   bg-gray-200 border-b border-plomo-500 text-gris-500 py-2">COMPROBANTES POR ENVIAR</div>
                <div class="grid grid-cols-2 items-center text-gray-500 justify-center py-1 border-b border-gray-300">
                    <p class="text-sm border-r border-gray-400">FACTURAS</p>
                    <p class="text-sm"></p>
                </div>
                <div class="grid grid-cols-2  items-center justify-center py-1 border-b border-gray-300">
                    <p class="text-sm  border-r border-gray-400">BOLETAS</p>
                    <p class="text-sm "></p>
                </div>

                <div class="grid grid-cols-2  items-center justify-center py-1 border-b border-gray-300 mb-48">
                    <p class="text-sm  border-r border-gray-400">NOTAS DE CREDITO</p>
                    <p class="text-sm "></p>
                </div>

            </section>
            
            <section class=" flex items-center justify-center">

                <div class="flex-col w-full">
                    <div class="loader space-y-4 pb-6">
                        <svg  class=" flex justify-center w-full" width="40" height="47" viewBox="0 0 40 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.34619 36.6517H25.0061V39.9837H8.34619V36.6517Z" fill="#CECECE"/>
                            <path d="M11.6782 43.3157H21.6742V46.6477H11.6782V43.3157Z" fill="#CECECE"/>
                            <path d="M8.03836 26.8891C6.47809 25.699 5.23431 24.1437 4.41651 22.3599C3.59871 20.5762 3.23198 18.6187 3.34861 16.6599C3.35301 13.1265 4.75862 9.73901 7.25713 7.2405C9.75564 4.74199 13.1431 3.33639 16.6765 3.33198V0C12.2595 0.00485069 8.02484 1.76164 4.90155 4.88493C1.77827 8.00821 0.0214796 12.2429 0.0166289 16.6599C-0.0963232 19.0802 0.367396 21.4927 1.36958 23.6987C2.37177 25.9047 3.88375 27.841 5.78095 29.3481C7.46693 30.9058 8.34657 31.7887 8.34657 33.3198H11.6785C11.6785 30.2544 9.8293 28.545 8.03836 26.8891Z" fill="#CECECE"/>
                            <path d="M25.3028 26.8941C23.5186 28.5467 21.6743 30.2544 21.6743 33.3198H25.0063C25.0063 31.7871 25.8826 30.9041 27.5636 29.3448C29.4605 27.8377 30.9728 25.9021 31.9763 23.697C32.9798 21.4919 33.4459 19.0801 33.3362 16.6599H30.0043C30.1177 18.6202 29.7484 20.5785 28.9287 22.3628C28.109 24.1471 26.864 25.7031 25.3028 26.8941Z" fill="#CECECE"/>
                            <path d="M20.8413 11.6619C22.2214 11.6619 23.3403 10.5431 23.3403 9.16292C23.3403 7.78277 22.2214 6.66394 20.8413 6.66394C19.4611 6.66394 18.3423 7.78277 18.3423 9.16292C18.3423 10.5431 19.4611 11.6619 20.8413 11.6619Z" fill="#CECECE"/>
                            <path d="M37.5009 11.6619C38.8811 11.6619 39.9999 10.5431 39.9999 9.16292C39.9999 7.78277 38.8811 6.66394 37.5009 6.66394C36.1208 6.66394 35.002 7.78277 35.002 9.16292C35.002 10.5431 36.1208 11.6619 37.5009 11.6619Z" fill="#CECECE"/>
                            <path d="M29.1709 11.6619C30.551 11.6619 31.6698 10.5431 31.6698 9.16292C31.6698 7.78277 30.551 6.66394 29.1709 6.66394C27.7907 6.66394 26.6719 7.78277 26.6719 9.16292C26.6719 10.5431 27.7907 11.6619 29.1709 11.6619Z" fill="#CECECE"/>
                        </svg>

                        <svg  class="flex justify-center w-full" width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M27 0C12.1122 0 0 12.1122 0 27C0 41.8878 12.1122 54 27 54C41.8878 54 54 41.8878 54 27C54 12.1122 41.8878 0 27 0ZM27 48.6C15.0903 48.6 5.4 38.9097 5.4 27C5.4 15.0903 15.0903 5.4 27 5.4C38.9097 5.4 48.6 15.0903 48.6 27C48.6 38.9097 38.9097 48.6 27 48.6Z" fill="#43B26E"/>
                            <path d="M21.5949 31.2848L15.3876 25.0883L11.5752 28.9115L21.6003 38.915L39.7065 20.8088L35.8887 16.991L21.5949 31.2848Z" fill="#43B26E"/>
                        </svg>

                        <svg  class="flex justify-center w-full" version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;"
                            xml:space="preserve">
                            <path fill="#e3e4e5" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
                            <animateTransform attributeType="xml"
                                attributeName="transform"
                                type="rotate"
                                from="0 25 25"
                                to="360 25 25"
                                dur="0.7s"
                                repeatCount="indefinite"/>
                            </path>
                        </svg>

                        <svg  class="w-full flex justify-center" width="49" height="60" viewBox="0 0 49 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.5425 12.6507C11.707 12.6507 12.651 11.7067 12.651 10.5423C12.651 9.37779 11.707 8.43381 10.5425 8.43381C9.37807 8.43381 8.43408 9.37779 8.43408 10.5423C8.43408 11.7067 9.37807 12.6507 10.5425 12.6507Z" fill="#EC7A7A"/>
                            <path d="M10.5425 29.5184C11.707 29.5184 12.651 28.5744 12.651 27.4099C12.651 26.2454 11.707 25.3015 10.5425 25.3015C9.37807 25.3015 8.43408 26.2454 8.43408 27.4099C8.43408 28.5744 9.37807 29.5184 10.5425 29.5184Z" fill="#EC7A7A"/>
                            <path d="M10.5425 46.386C11.707 46.386 12.651 45.442 12.651 44.2776C12.651 43.1131 11.707 42.1691 10.5425 42.1691C9.37807 42.1691 8.43408 43.1131 8.43408 44.2776C8.43408 45.442 9.37807 46.386 10.5425 46.386Z" fill="#EC7A7A"/>
                            <path d="M37.9522 0H4.21691C3.09852 0 2.02593 0.44428 1.2351 1.2351C0.44428 2.02593 0 3.09852 0 4.21691V50.6029C0 51.7213 0.44428 52.7939 1.2351 53.5847C2.02593 54.3755 3.09852 54.8198 4.21691 54.8198H21.0845V50.6029H4.21691V37.9522H42.1691V4.21691C42.1691 3.09852 41.7248 2.02593 40.934 1.2351C40.1432 0.44428 39.0706 0 37.9522 0ZM37.9522 33.7353H4.21691V21.0845H37.9522V33.7353ZM37.9522 16.8676H4.21691V4.21691H37.9522V16.8676Z" fill="#EC7A7A"/>
                            <path d="M49.0003 56.0428L43.0334 50.0758L49.0003 44.1089L46.0274 41.136L40.0605 47.0818L34.0935 41.136L31.1206 44.1089L37.0875 50.0758L31.1206 56.0428L34.0935 59.0157L40.0605 53.0488L46.0274 59.0157L49.0003 56.0428Z" fill="#EC7A7A"/>
                        </svg>

                        <div class="flex justify-center">
                            
                        </div>
                    </div>

                    <div class=" w-full px-2 py-1 text-sm font-normal  text-gray-900">
                        <div class="relative ">
                            <div class="overflow-hidden h-2 text-xs flex rounded bg-gray-300">
                                <div  class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center">
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center justify-between">
                            <span class="text-right "></span>
                            <span class="text-right "></span>
                        </div>
                    </div>

                    <div  class="flex justify-center text-sm">
                        <button  class="bg-red-400 text-sm hover:bg-red-700 focus:outline-none rounded-md text-white px-2 py-2">VER ERRORES</button>
                    </div>
                </div>
            </section>

        <!-- modificacion -->
            <section class="w-full text-center text-sm border font-medium text-gray-500  border-gray-300 rounded-md">
                <div class="text-sm w-full font-medium rounded-t-md col-span-2  text-white border-b bg-gray-600 py-2  border-gray-30">COMPROBANTES RECEPCIONADOS</div>
                <div class="pt-3 px-4">
                    <div class=" flex  text-oscuro-700 text-base ">Facturas</div>
                    <div class="h-80 overflow-auto">
                        <div class=" flex items-center gap-5 py-3 border-b border-plomo-50 ">
                            <div class="w-1/3 space-y-2">
                                <div class="text-plomo-100 flex justify-start">Activos</div>
                                <div class="text-verde-500 flex justify-start">279</div>
                            </div>
                            <div class="w-1/3 space-y-2">
                                <div class="flex items-center gap-2 justify-center"> 
                                    <span><img class="object-contain w-8" src="assets/img/migra/pulse.gif" alt=""></span>
                                    <span class="text-plomo-100"> Anulados</span>
                                </div>
                                <div class="text-rojo-500 flex justify-start">19</div>
                            </div>
                            <div class="w-1/3 space-y-2 ">
                                <div class="text-plomo-100 flex justify-center">Total</div>
                                <div class="text-azuloscuro-800 flex justify-center">298</div>
                            </div>
                        </div>
                        <div class=" flex items-center gap-5 py-3 border-b border-plomo-50 ">
                            <div class="w-1/3 space-y-2">
                                <div class="text-plomo-100 flex justify-start">Activos</div>
                                <div class="text-verde-500 flex justify-start">279</div>
                            </div>
                            <div class="w-1/3 space-y-2">
                                <div class="flex items-center gap-2 justify-center"> 
                                    <span><img class="object-contain w-8" src="assets/img/migra/pulse.gif" alt=""></span>
                                    <span class="text-plomo-100"> Anulados</span>
                                </div>
                                <div class="text-rojo-500 flex justify-start">19</div>
                            </div>
                            <div class="w-1/3 space-y-2 ">
                                <div class="text-plomo-100 flex justify-center">Total</div>
                                <div class="text-azuloscuro-800 flex justify-center">298</div>
                            </div>
                        </div>
                        <div class=" flex items-center gap-5 py-3 border-b border-plomo-50 ">
                            <div class="w-1/3 space-y-2">
                                <div class="text-plomo-100 flex justify-start">Activos</div>
                                <div class="text-verde-500 flex justify-start">279</div>
                            </div>
                            <div class="w-1/3 space-y-2">
                                <div class="flex items-center gap-2 justify-center"> 
                                    <span><img class="object-contain w-8" src="assets/img/migra/pulse.gif" alt=""></span>
                                    <span class="text-plomo-100"> Anulados</span>
                                </div>
                                <div class="text-rojo-500 flex justify-start">19</div>
                            </div>
                            <div class="w-1/3 space-y-2 ">
                                <div class="text-plomo-100 flex justify-center">Total</div>
                                <div class="text-azuloscuro-800 flex justify-center">298</div>
                            </div>
                        </div>
                        <div class=" flex items-center gap-5 py-3 border-b border-plomo-50 ">
                            <div class="w-1/3 space-y-2">
                                <div class="text-plomo-100 flex justify-start">Activos</div>
                                <div class="text-verde-500 flex justify-start">279</div>
                            </div>
                            <div class="w-1/3 space-y-2">
                                <div class="flex items-center gap-2 justify-center"> 
                                    <span><img class="object-contain w-8" src="assets/img/migra/pulse.gif" alt=""></span>
                                    <span class="text-plomo-100"> Anulados</span>
                                </div>
                                <div class="text-rojo-500 flex justify-start">19</div>
                            </div>
                            <div class="w-1/3 space-y-2 ">
                                <div class="text-plomo-100 flex justify-center">Total</div>
                                <div class="text-azuloscuro-800 flex justify-center">298</div>
                            </div>
                        </div>
                        <div class=" flex items-center gap-5 py-3 border-b border-plomo-50 ">
                            <div class="w-1/3 space-y-2">
                                <div class="text-plomo-100 flex justify-start">Activos</div>
                                <div class="text-verde-500 flex justify-start">279</div>
                            </div>
                            <div class="w-1/3 space-y-2">
                                <div class="flex items-center gap-2 justify-center"> 
                                    <span><img class="object-contain w-8" src="assets/img/migra/pulse.gif" alt=""></span>
                                    <span class="text-plomo-100"> Anulados</span>
                                </div>
                                <div class="text-rojo-500 flex justify-start">19</div>
                            </div>
                            <div class="w-1/3 space-y-2 ">
                                <div class="text-plomo-100 flex justify-center">Total</div>
                                <div class="text-azuloscuro-800 flex justify-center">298</div>
                            </div>
                        </div>
                        <div class=" flex items-center gap-5 py-3 border-b border-plomo-50 ">
                            <div class="w-1/3 space-y-2">
                                <div class="text-plomo-100 flex justify-start">Activos</div>
                                <div class="text-verde-500 flex justify-start">279</div>
                            </div>
                            <div class="w-1/3 space-y-2">
                                <div class="flex items-center gap-2 justify-center"> 
                                    <span><img class="object-contain w-8" src="assets/img/migra/pulse.gif" alt=""></span>
                                    <span class="text-plomo-100"> Anulados</span>
                                </div>
                                <div class="text-rojo-500 flex justify-start">19</div>
                            </div>
                            <div class="w-1/3 space-y-2 ">
                                <div class="text-plomo-100 flex justify-center">Total</div>
                                <div class="text-azuloscuro-800 flex justify-center">298</div>
                            </div>
                        </div>
                        <div class=" flex items-center gap-5 py-3 border-b border-plomo-50 ">
                            <div class="w-1/3 space-y-2">
                                <div class="text-plomo-100 flex justify-start">Activos</div>
                                <div class="text-verde-500 flex justify-start">279</div>
                            </div>
                            <div class="w-1/3 space-y-2">
                                <div class="flex items-center gap-2 justify-center"> 
                                    <span><img class="object-contain w-8" src="assets/img/migra/pulse.gif" alt=""></span>
                                    <span class="text-plomo-100"> Anulados</span>
                                </div>
                                <div class="text-rojo-500 flex justify-start">19</div>
                            </div>
                            <div class="w-1/3 space-y-2 ">
                                <div class="text-plomo-100 flex justify-center">Total</div>
                                <div class="text-azuloscuro-800 flex justify-center">298</div>
                            </div>
                        </div>
                        <div class=" flex items-center gap-5 py-3 border-b border-plomo-50 ">
                            <div class="w-1/3 space-y-2">
                                <div class="text-plomo-100 flex justify-start">Activos</div>
                                <div class="text-verde-500 flex justify-start">279</div>
                            </div>
                            <div class="w-1/3 space-y-2">
                                <div class="flex items-center gap-2 justify-center"> 
                                    <span><img class="object-contain w-8" src="assets/img/migra/pulse.gif" alt=""></span>
                                    <span class="text-plomo-100"> Anulados</span>
                                </div>
                                <div class="text-rojo-500 flex justify-start">19</div>
                            </div>
                            <div class="w-1/3 space-y-2 ">
                                <div class="text-plomo-100 flex justify-center">Total</div>
                                <div class="text-azuloscuro-800 flex justify-center">298</div>
                            </div>
                        </div>
                        <div class=" flex items-center gap-5 py-3 border-b border-plomo-50 ">
                            <div class="w-1/3 space-y-2">
                                <div class="text-plomo-100 flex justify-start">Activos</div>
                                <div class="text-verde-500 flex justify-start">279</div>
                            </div>
                            <div class="w-1/3 space-y-2">
                                <div class="flex items-center gap-2 justify-center"> 
                                    <span><img class="object-contain w-8" src="assets/img/migra/pulse.gif" alt=""></span>
                                    <span class="text-plomo-100"> Anulados</span>
                                </div>
                                <div class="text-rojo-500 flex justify-start">19</div>
                            </div>
                            <div class="w-1/3 space-y-2 ">
                                <div class="text-plomo-100 flex justify-center">Total</div>
                                <div class="text-azuloscuro-800 flex justify-center">298</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <!-- <div class="grid grid-cols-2  items-center justify-center py-1 border-b border-gray-300">
                    <p class="  border-r border-gray-400">FACTURAS</p>
                    <p class=" "></p>
                </div>
                <div class="grid grid-cols-2  items-center justify-center py-1 border-b border-gray-300">
                    <p class="  border-r border-gray-400">BOLETAS</p>
                    <p class=" "></p>
                </div>
                <div class="grid grid-cols-2  items-center justify-center py-1 border-b border-gray-300 mb-48">
                    <p class="  border-r border-gray-400">NOTAS DE CREDITO</p>
                    <p class=" "></p>
                </div> -->
            </section>
        </main>
    </div>
</div> -->

<!-- <main class="">
    <div class="flex justify-between items-center ">
        <div class="text-base ">
            <span class="text-rojo-500">PROCESO DE MIGRACIÓN:</span> <span class="text-oscuro-800"> DB_PRINCIPAL</span>
        </div>s
        <div class="flex justify-end">
            <div class="w-full space-x-3 flex items-center">
                
                <div class="w-full">
                    <div class="flex w-full px-2 border border-gray-300 rounded">
                        <input type="date"  class=" w-full  px-2  py-2  text-sm  placeholder-gray-500  focus:outline-none">
                    </div>
                </div>
               
                <div  class="w-full">
                    <button  type="button" class="rounded text-sm uppercase py-2 focus:outline-none font-medium pt-3 px-5 flex items-center  justify-center w-auto text-white">
                        MIGRAR
                    </button>
                </div>
    
              
            </div>
        </div>
    </div>
</main> -->





