<main>
    <!-- Bienvenido a factesol -->
    <div id="inicio" class="py-4 ">     </div>
    <section class="flex flex-col fondo h-full pt-5 lg:pt-16 px-7 md:px-20 lg:px-48 ">
        <p class="lg:text-5xl md:text-3xl text-2xl font-medium text-gray-700 flex 2xl:text-7xl  justify-center text-center">Bienvenido a FacTEDSOL</p>
        <div class="text-gray-500 space-y-6  text-center lg:text-base 2xl:text-2xl md:text-sm  pt-6">
            <p>Te brindamos nuestro novedoso sistema de facturación electrónica el que te permitirá realizar los procesos de declaración y gestión de tus comprobantes electrónicos de una manera sencilla ya sea desde tu oficina o hasta en la comodidad de
                tu hogar y desde cualquier dispositivo.</p>
            <p>Ingresa a cualquiera de nuestras versiones y comienza una nueva experiencia dentro de tu empresa.</p>
        </div>
       

        <div class="gap-5 flex flex-col md:flex-row justify-center pt-10 lg:text-base md:text-sm 2xl:text-xl ">
            <button class="bg-red-500 hover:bg-red-700 focus:outline-none text-white lg:px-12 lg:py-3 md:px-10 md:py-2 px-2 py-2 rounded-md font-medium  md:rounded-md  transition duration-500 ease-in"> <a href="https://factedsol.innovated.pe/lite/" target="_blank">FacTEDSOL [Lite]</a></button>
            <button class="bg-red-500 hover:bg-red-700 focus:outline-none text-white lg:px-6 lg:py-3 md:px-3 md:py-2 px-2 py-2 rounded-md  font-medium  md:rounded-md  transition duration-500 ease-in"> <a href="https://factedsol.innovated.pe/integracion/" target="_blank">FacTEDSOL [Integración]</a> </button>
        </div>

        <div class="flex justify-center">
            <img class="object-contain laptop  w-full   md:px-0 pt-10 lg:px-20 2xl:w-9/12  " src="assets/img/pantalla.png" alt="">
        </div>
    </section>

    <div class="flex justify-center w-full">
        <button class="bg-red-500 text-white px-10 py-2 rounded-md focus:outline-none" (click)="onMigrar()">Migrar</button>
    </div>

    <!-- Nuestro clientes  -->
    <section id="nuestrocliente" class=" flex flex-col pt-48 my-11 md:my-20 md:pt-20 lg:pt-40 lg:my-36">
        <p class="flex justify-center lg:text-4xl md:text-2xl 2xl:text-6xl text-xl font-medium text-gray-600">Nuestros Clientes</p>
        <p class="flex justify-center  tracking-wide text-gray-500 space-y-6  2xl:text-2xl  text-center lg:text-base md:text-sm md:px-60 px-7 pt-3 ">Estos son algunos de nuestros clientes que ya viven la experiencia FacTEDSOL</p>
        <!-- Carusel -->
        <div class="md:mx-9 md:px-4 2xl:px-96 z-0 relative">
            <carousel autoplay="true" transitionDuration="500" [loop]="true" [objectFit]="'cover'">
                <div class="carousel-cell ">
                    <img src="assets/img/empresas/1.png">
                </div>

                <div class="carousel-cell ">
                    <img src="assets/img/empresas/2.png">
                </div>

                <div class="carousel-cell ">
                    <img src="assets/img/empresas/3.png">
                </div>
                <div class="carousel-cell ">
                    <img src="assets/img/empresas/4.png">
                </div>
                <div class="carousel-cell ">
                    <img src="assets/img/empresas/5.png">
                </div>
                <div class="carousel-cell ">
                    <img src="assets/img/empresas/6.png">
                </div>
                <div class="carousel-cell ">
                    <img src="assets/img/empresas/7.png">
                </div>
                <div class="carousel-cell ">
                    <img src="assets/img/empresas/8.png">
                </div>
                <div class="carousel-cell ">
                    <img src="assets/img/empresas/9.png">
                </div>
                <div class="carousel-cell ">
                    <img src="assets/img/empresas/10.png">
                </div>
                <div class="carousel-cell ">
                    <img src="assets/img/empresas/11.png">
                </div>
                <div class="carousel-cell ">
                    <img src="assets/img/empresas/12.png">
                </div>
                <div class="carousel-cell ">
                    <img src="assets/img/empresas/13.png">
                </div>
                <div class="carousel-cell ">
                    <img src="assets/img/empresas/14.png">
                </div>
                <div class="carousel-cell ">
                    <img src="assets/img/empresas/15.png">
                </div>
                <div class="carousel-cell ">
                    <img src="assets/img/empresas/16.png">
                </div>
            </carousel>
        </div>
    </section>
    <!-- Contactanos -->
</main>
<!-- Contacto -->
<div id="contacto" class="fondofooter w-full bg-no-repeat pb-5 ">
    <div class="grid col-span-1  md:grid-cols-2 pt-8 2xl:pt-20  lg:pt-12 -space-x-40 md:-space-x-20 lg:-space-x- ">
        <!-- info -->
        <div class="col-span-1 md:pl-1 lg:pl-20 2xl:pl-64">
            <div class="pt-8 2xl:pt-2 ">
                <div class="md:pl-9 px-2 space-y-6 ">
                    <div class="md:text-2xl 2xl:text-4xl text-xl flex  text-center md:text-left font-medium  justify-center md:justify-start ">No dudes en contactarte con nosotros</div>
                    <div class="space-y-1 2xl:text-2xl text-gray-600 flex flex-col justify-center md:justify-start">
                        <div class="flex  justify-center text-center md:text-left md:justify-start">Nuestras respuestas son habituales dentro de los horarios establecidos</div>
                        <div class="flex  justify-center text-center md:text-left md:justify-start font-medium text-gray-700">(Lun a Vie: 09:00am a 01:00pm - 03:00pm a 06:00pm)</div>
                    </div>
                </div>
                <div class="w-full flex  justify-center  md:justify-start pt-10">
                    <img class="object-cover 2xl:w-5/12" src="assets/img/contac.svg" alt="">
                </div>
            </div>
        </div>
        <!-- Formulario -->
        <div class="col-span-1 grid grid-cols-1 ">
            <form [formGroup]='Formulario' (ngSubmit)='EnviarCorreo()' class="col-span-1  pt-12 2xl:pt-2 md:pr-1 lg:mx-10 ml-40 2xl:mx-0 2xl:px-44  md:ml-0 lg:pr-0  md:px-20 ">
                <div class="pt-14 grid 2xl:pl-10 md:px-5 lg: mx-5 lg:px-0 grid-cols-1">
                    <div class="flex col-span-1 flex-col lg:flex-row lg:gap-6 gap-2">
                        <div class=" md:col-span-2 md:mb-6">
                            <input type="text" placeholder="RUC" minlength="11" maxlength="11" required (keyup)='ConsultaRuc($event)' formControlName='ruc' name="ruc" class="text-sm ruc md:text-base w-full 2xl:py-3 px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-sm focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
                            />
                            <p *ngIf="Ruc" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
                        </div>

                        <div *ngIf="cargando" class="flex-col w-full  ">
                            <div class="loader space-y-4 pb-6">
                                <svg class="flex justify-center w-full" version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                    <path fill="#e3e4e5" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
                                    <animateTransform attributeType="xml"
                                        attributeName="transform"
                                        type="rotate"
                                        from="0 25 25"
                                        to="360 25 25"
                                        dur="0.7s"
                                        repeatCount="indefinite"/>
                                    </path>
                                </svg>
                            </div>
                        </div>

                        <div *ngIf="!cargando" class="flex flex-col w-full mb-6 ">
                            <label class=" text-sm md:text-sm  w-full px-3 h-10 2xl:h-12 flex items-center justify-start text-gray-400  border  rounded-sm  ">{{ razonsocial }}</label>
                            <p *ngIf="existeEmpresa" class="text-red-700 text-xs italic space-y-0"> Razon social no encontrada.</p>
                        </div>
                    </div>

                    <div class="col-span-1  mb-6 flex flex-col w-full">
                        <input formControlName='nombre' type="text" placeholder="¿Cual es tu nombre?" required class="text-sm md:text-base 2xl:py-3 w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-sm focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
                        />
                        <p *ngIf="Nombre" class="text-red-700 text-xs italic "> Por favor rellene este campo.</p>
                    </div>

                    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
                        <div class="col-span-1 lg:mb-6">
                            <input formControlName='correo' type="email" placeholder="Correo" required class="text-sm md:text-base 2xl:py-3 w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-sm focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
                            />
                            <p *ngIf="Correo" class="text-red-700 text-xs italic"> Por favor rellene este campo con los datos correctos.</p>
                        </div>
                        <div class="col-span-1 mb-6">
                            <input formControlName='celular' type="number" placeholder="Celular" required class="text-sm md:text-base 2xl:py-3 w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-sm focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
                            />
                            <p *ngIf="Celular" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
                        </div>
                    </div>
                    <div class="">
                        <textarea maxlength="400" formControlName='mensaje' rows="5" name="message" id="message" placeholder="Describe tu mensaje" class="text-sm md:text-base 2xl:py-3  w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-sm focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
                            required></textarea>
                        <p *ngIf="Mensaje" class="text-red-700 text-xs italic"> Por favor rellene este campo.</p>
                    </div>
                    <div class="pt-4">
                        <button *ngIf="!enviando" type="submit" class="px-7 py-2 focus:outline-none 2xl:py-3 2xl:px-12 2xl:text-2xl bg-red-500 hover:bg-red-700 text-base text-white">Enviar</button>
                        
                        <div *ngIf="enviando" class="flex-col w-full">
                            <div class="loader space-y-4 pb-6">
                                <svg class="" version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                    <path fill="#e3e4e5" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
                                    <animateTransform attributeType="xml"
                                        attributeName="transform"
                                        type="rotate"
                                        from="0 25 25"
                                        to="360 25 25"
                                        dur="0.7s"
                                        repeatCount="indefinite"/>
                                    </path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- cargando -->
<!-- <div class="flex-col w-full  ">
    <div class="loader space-y-4 pb-6">
        <svg class="flex justify-center w-full" version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <path fill="#e3e4e5" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
            <animateTransform attributeType="xml"
                attributeName="transform"
                type="rotate"
                from="0 25 25"
                to="360 25 25"
                dur="0.7s"
                repeatCount="indefinite"/>
            </path>
        </svg>
    </div>
</div> -->

<!-- pie de pagina -->
<footer class="lg:px-28 grid space-y-4 grid-cols-1   md:px-11 px-2  py-5 ">
    <div class="flex col-span-1 items-center text-center w-full justify-center py-9  ">
        <span class="text-red-500 font-medium 2xl:text-xl">©2021 FacTEDSOL</span>
    </div>
    <div class="flex justify-center space-y-8 col-span-1  md:justify-between flex-col   md:flex-row space-y-3 md:space-y-0   border-t border-gray-200 py-4 text-xs md:text-sm ">
        <div class="md:gap-6 gap-9  flex-row justify-center  flex items-center text-gray-500">
            <a (click)="toInicio()" class="whitespace-nowrap cursor-pointer">Inicio</a>
            <a (click)="toNuestroCliente()" class="whitespace-nowrap cursor-pointer">Nuestros Clientes</a>
            <a (click)="toContacto()" class="whitespace-nowrap cursor-pointer">Contactanos</a>
        </div>
        <span class="text-gray-500 text-center md:whitespace-nowrap">
            Un producto de INNOVATED S.A.
        </span>
    </div>
</footer>