/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

textarea {
    overflow: auto;
    resize: none;
}

.ruc {
    overflow: auto;
    resize: none;
}


/* eliminar la direccional los imput de tipo number */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


/* #header {
    z-index: 1;
} */

.fondo {
    background-image: url(assets/img/fondo.svg);
}

.fondofooter {
    background-image: url(assets/img/formulario.svg);
}